<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{tomster.name}} {{tomster.type}}</h3>
  </div>
  <div class="panel-body">
    <h3>Birthday:</h3>
    <h4>{{tomster.birthday}}</h4>

    <div>
      <img src={{tomster.image}} class="img-rounded" alt="{{tomster.name}} {{tomster.type}}" />
    </div>
  </div>
</div>
